        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav" style="display:none">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="assets/img/user-3.jpg" alt="" /></a>
                        </div>
                        <div class="info">
                            Vitally Marinchenko
                            <small>UI Expert</small>
                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    <li><a href="#ajax/index.html" data-toggle="ajax"><i class="fa fa-bar-chart-o"></i> 
                        <span>Quality of Experience</span></a></li>
                    <li><a href="#ajax/qoe.html" data-toggle="ajax"><i class="fa fa-area-chart"></i> 
                        <span>Real Data Page</span></a></li>                        
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-map-marker"></i>
                            <span>Blank Pages</span>
                        </a>
                        <ul class="sub-menu">
                            <li><a href="#ajax/blank_page.html" data-toggle="ajax">Blank Page</a></li>
                        </ul>
                    </li>
                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>