<style>

	.nav {
		margin-top: 10px;
	}

	.nav > li > a {
		position: relative;
		display: block;
		padding: 15px 12px !important;
		font-size: 14px !important;
	}

	.dropdown-submenu {
		position: relative;
	}

	.dropdown-submenu>.dropdown-menu {
		top: 40px;
		margin-top: -6px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}

	.dropdown-submenu:hover>.dropdown-menu {
		display: block;
	}

	.dropdown-submenu.pull-left {
		float: none;
	}

	.dropdown-submenu.pull-left>.dropdown-menu {
		left: -100%;
		margin-left: 10px;
		-webkit-border-radius: 6px 0 6px 6px;
		-moz-border-radius: 6px 0 6px 6px;
		border-radius: 6px 0 6px 6px;
	}

</style>

<div class="navbar navbar-inverse navbar-fixed-top">

	<div class="container" id="containerNav">

		<div class="navbar-header">

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>

			</button>

			<a id="logo-link" href="/cnep/index"></a>

		</div>

		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav">

			<% if(session.user.role == 'user') { %>

                <li class="dropdown-submenu">
                    <a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
                        Worst Routes
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a href="/cnep/executive-dashboard">Executive Dashboard</a></li>
                        <li><a href="/cnep/live-routes">Live Routes</a></li>
                    </ul>
                </li>

                <li><a href="/cnep/SLA-monitoring">SLA Monitoring</a></li>
                <li><a href="/cnep/view-routes">View Routes</a></li>

                <li class="dropdown-submenu">
                    <a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
                        Client-Based Maps
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a href="/cnep/agents-mapping-loss">Loss Map</a></li>
                        <li><a href="/cnep/agents-mapping-latency">Latency Map</a></li>
                    </ul>
                </li>

                <li class="dropdown-submenu">
                    <a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
                        Routers-Based Maps
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a href="/cnep/routers-mapping-loss">Loss Map</a></li>
                        <li><a href="/cnep/routers-mapping-latency">Latency Map</a></li>
                        <!-- <li><a href="/cnep/routers-mapping-jitter">Jitter Map</a></li> -->
                    </ul>
                </li>

                <li class="dropdown-submenu">
                    <a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
                        Reports
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a href="/cnep/executive-source-report">Source Summary</a></li>
                        <li><a href="/cnep/edge-node-report">Edge Node Summary</a></li>
                        <li><a href="/cnep/routers-summary-report">Router Summary</a></li>
                        <li><a href="/cnep/top-25-list">Top 25 List</a></li>
						<li><a href="/cnep/network-latency-report">Network Latency</a></li>
                    </ul>
                </li>
                <li><a href="/cnep/agent-operations">Operations</a></li>
                <li><a href="/cnep/contribute">Contribute</a></li>

        <% } %>        
        <% if(session.user.role == 'admin') { %>

				<li class="dropdown-submenu">
					<a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
						Worst Routes
					</a>
					<ul class='dropdown-menu'>
						<li><a href="/cnep/executive-dashboard">Executive Dashboard</a></li>
						<li><a href="/cnep/live-routes">Live Routes</a></li>
					</ul>
				</li>

				<li><a href="/cnep/SLA-monitoring">SLA Monitoring</a></li>
				<li><a href="/cnep/view-routes">View Routes</a></li>

				<li class="dropdown-submenu">
					<a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
						Client-Based Maps
					</a>
					<ul class='dropdown-menu'>
						<li><a href="/cnep/agents-mapping-loss">Loss Map</a></li>
						<li><a href="/cnep/agents-mapping-latency">Latency Map</a></li>
					</ul>
				</li>

				<li class="dropdown-submenu">
					<a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
						Routers-Based Maps
					</a>
					<ul class='dropdown-menu'>
						<li><a href="/cnep/routers-mapping-loss">Loss Map</a></li>
						<li><a href="/cnep/routers-mapping-latency">Latency Map</a></li>
						<!-- <li><a href="/cnep/routers-mapping-jitter">Jitter Map</a></li> -->
					</ul>
				</li>

				<li class="dropdown-submenu">
        			<a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
						Reports
        			</a>
					<ul class='dropdown-menu'>
						<li><a href="/cnep/executive-source-report">Source Summary</a></li>
						<li><a href="/cnep/edge-node-report">Edge Node Summary</a></li>
						<li><a href="/cnep/routers-summary-report">Router Summary</a></li>
						<li><a href="/cnep/top-25-list">Top 25 List</a></li>
						<li><a href="/cnep/network-latency-report">Network Latency</a></li>
					</ul>
    			</li>
				<li><a href="/cnep/agent-operations">Operations</a></li>
				<li><a href="/cnep/contribute">Contribute</a></li>
				<li class="dropdown-submenu">
					<a href="#" tabindex='-1' class="dropdown-toggle nav-header" data-toggle="dropdown">
						Admin
					</a>
					<ul class='dropdown-menu'>
						<li><a href="/cnep/agent-scheduling">Agents</a></li>
						<li><a href="/cnep/agent-groups-scheduling">Groups</a></li>
						<li><a href="/cnep/users">Users</a></li>
					</ul>
				</li>

			<% } %>

				<li><a href="/cnep/logout">Logout</a></li>

			</ul>

		</div>

	</div>

</div>
