<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   	<title>CNEP: Accenture Customer Network Experience Platform</title>
		<!--<link rel="shortcut icon" href="/cnep/imgs/timewarnercablelogo.ico">-->
    	<link href="/cnep/css/bootstrap.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/nv.d3.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/bootstrap/examples/starter-template/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/bootstrap-form-helpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet" type="text/css"/>
    	<script src="/cnep/jquery/dist/jquery.min.js" type="text/javascript"></script>
    	<script src="/cnep/jquery/dist/jquery.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.js" type="text/javascript"></script>
    	<script src="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    	<script src="/cnep/d3/d3.js" type="text/javascript"></script>
    	<script src="/cnep/nvd3/nv.d3.js" type="text/javascript"></script>
    	<script src="https://maps.googleapis.com/maps/api/js?v=3.10&sensor=false&.js"></script>
    	<script src="https://www.google.com/jsapi?.js" type="text/javascript"></script>
    	<script src="/cnep/js/common/raphael.2.1.0.min.js" type="text/javascript"></script>
    	<script src="/cnep/js/common/justgage.1.0.1.min.js" type="text/javascript"></script>
    	<script src="/cnep/js/common/app.js" type="text/javascript"></script>
    	<script src="/cnep/js/operations/agent_operations.js" type="text/javascript"></script>

		<style>

			div.dataTables_paginate { float: left; margin: 0px; }
			.pagination > li > a,
			.pagination > li > span 
			{
				background: none !important;
				border-color: white !important;
				border-style: solid !important;
				color: gray !important;
			}
			.pagination > li > a:hover,
			.pagination > li > a:focus,
			.pagination > li > span:hover,
			.pagination > li > span:focus,
			.pagination > li.active > a,
			.pagination > li.active > span 
			{
				border-color: white !important;
				border-style: solid !important;
				color: white !important;
			}

		</style>

	</head>

	<body>

		<% include ../partials/nav.html %>
		<div  class="container-title">
			<h2 style="margin-left: 14px; font-family: 'Helvetica'; padding-top: 14px; font-size: 22px;">Operations</h2>
		</div>
		<% include ../partials/error.html %>

		<div class="map-container">

			<div class="layer-chart-gauges-header-one">
				<h4 style="text-align: left; font-weight: 500; font-family: 'Helvetica'; font-size: 16px; padding-left: 15px; padding-top: 1px;"> Hourly Stats </h4>
			</div>

			<div  class="layer-chart-gauges-container-one">

				<div class="row">
					<div class="col-md-8">
						<div style="padding-top:0px;" class="layer-chart-gauges">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6" align="center"><div id="operationsGauge1" style="width: 175px; height: 140px;"></div></div>
									<div class="col-md-6" align="center"><div id="operationsGauge2" style="width: 175px; height: 140px;"></div></div>
								</div>
								<div class="row">
									<div class="col-md-6" align="center">&nbsp;</div>
									<div class="col-md-6" align="center"><div id="gauge2Box"></div></div>
								</div>
								<div class="row">
									<div class="col-md-6" align="center"><div id="operationsGauge3" align="center" style="width: 175px; height: 140px;"></div></div>
									<div class="col-md-6" align="center"><div id="operationsGauge4" align="center" style="width: 175px; height: 140px;"></div></div>
								</div>
								<div class="row">
									<div class="col-md-6" align="center"><div id="gauge3Box" align="center"></div></div>
									<div class="col-md-6" align="center"><div id="gauge4Box" align="center"></div></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="layer-chart-status">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12" style="text-align: center;">
										<div id="collectorStatus" style="padding-top: 5px; padding-left: 50px; margin: 5px;"></div>
										<table id="cepLogsTable" class="table"></table>
										<table id="rawMtrQueueTable" class="table"></table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div  class="map-container-two">
			<div class="layer-map-header-one">
				<h4 style="text-align: left; font-weight: 500; font-family: 'Helvetica'; font-size: 16px; padding-left: 15px; padding-top: 1px;"> Live Agents Map </h4>			
			</div>
			<div class="layer-map-container-one">
				<div id="map-canvas" style="width: 100%; height: 100%; padding-top: 25px;"></div>
			</div>
		</div>

	</body>

</html>
