<!DOCTYPE html>
<html lang="en" ng-app="app">

	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!--<link rel="shortcut icon" href="/cnep/imgs/timewarnercablelogo.ico">-->
    	<title>CNEP: Accenture Customer Network Experience Platform</title>
    	<link href="/cnep/css/bootstrap.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/nv.d3.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/bootstrap/examples/starter-template/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/bootstrap-form-helpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet" type="text/css"/>
    	<script src="/cnep/jquery/dist/jquery.min.js" type="text/javascript"></script>
    	<script src="/cnep/jquery/dist/jquery.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.js" type="text/javascript"></script>
    	<script src="/cnep/d3/d3.js" type="text/javascript"></script>
    	<script src="/cnep/nvd3/nv.d3.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.js" type="text/javascript"></script>
    	<script src="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>    
    	<script src="/cnep/js/common/app.js" type="text/javascript"></script>

		<script>
	
			$( document ).ready(
				function() {

					$( '#groupAgentsListTable' ).dataTable();

					return;
				}
			);
	
		</script>

		<style>

	      html, body {height:100%;padding-top:25px;position:relative;overflw-y:scroll;margin: 0;}
	      div.dataTables_info {float: left !important;}
	      .inp {
	        width:150px; 
	        display:inline;
	      }
	      .inp2 {
	        width:250px; 
	        display:inline;
	      }
	
	      th {text-align: center;}
	
		</style>
	</head>

	<body>

		<% include ../partials/nav.html %>
		<% include ../partials/error.html %>
		<div class="container">
			<div class="starter-template">
         	<h1>Agent Group: <%= session.agentgroup.cid %></h1>
      	</div>
     	</div>
     	<div style="text-align: center;" class="container" id="container1" ng-view-light>
      	<div>

				<% if( session.agentgroup.cid == 'New') { %>

				<form method="POST" action="/agentgroup/create" accept-charset="UTF-8">

				<% } else { %>

				<form method="POST" action="/agentgroup/update" accept-charset="UTF-8">

				<% }%>

					<input id="cid" type="hidden" name="cid" placeholder="CID" value="<%= session.agentgroup.cid %>" />
	            <input id="name" type="text" name="name" placeholder="Name" value="<%= session.agentgroup.name %>" class="form-control inp2"><br><br>

					<div>

					<% if( session.agentgroup.cid == 'New') { %>

						<input id="new" type="hidden" name="new" value="true" class="form-control inp">
						<button type="submit" name="submit" class="btn btn-info btn-block" style="width:150px; display: inline">Create</button>

					<% } else { %>

						<button type="submit" name="submit" class="btn btn-info btn-block" style="width:150px; display: inline">Update</button>

					<% } %>

					</div>

				</form>

			</div>

			<br><br><br>

		</div>

	</body>

</html>
