<!DOCTYPE html>
<html lang="en" ng-app="app">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<link rel="shortcut icon" href="/cnep/imgs/timewarnercablelogo.ico">-->
		<title>CNEP: Accenture Customer Network Experience Platform</title>
		<link href="/cnep/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/cnep/css/starter-template.css" rel="stylesheet" type="text/css">
		<link href="/cnep/css/nv.d3.css" rel="stylesheet" type="text/css">
		<link href="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
		<script src="/cnep/jquery/dist/jquery.min.js" type="text/javascript"></script>
    	<script src="/cnep/jquery/dist/jquery.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js" type="text/javascript"></script>
		<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.js" type="text/javascript"></script>
		<script src="/cnep/d3/d3.js" type="text/javascript"></script>
		<script src="/cnep/nvd3/nv.d3.js" type="text/javascript"></script>
		<script src="/cnep/datatables/media/js/jquery.dataTables.js" type="text/javascript"></script>
		<script src="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
		<script src="/cnep/js/common/app.js" type="text/javascript"></script>

		<script>
	
			$( document ).ready(

				function() {

					$( '#agentsListTable' ).dataTable();

					return;
				}
			);
	
		</script>

		<style>

			html, body {height:100%;padding-top:25px;position:relative;overflw-y:scroll;margin: 0;}
			div.dataTables_info {float: left !important;}
			.inp {
				width:150px; 
				display:inline;
			}
			th {text-align: center;}

			#agentsListTable_length label {float: left !important; padding-top: 20px;}
			#agentsListTable_filter label {float: right !important;}
			#agentsListTable_filter input {float: right !important;}

		</style>

	</head>

	<body>

		<% include ../partials/nav.html %>
		<div  style="padding-bottom: 10px;width: 1200px; margin: 0 auto;"class="container-title">
			<h2 style="margin-left: 14px;font-family:'Helvetica';padding-top: 14px; font-size: 22px"> Agents</h2>
		</div>
		<% include ../partials/error.html %>
		<div style="text-align: center;" class="container" id="container1" ng-view-light>

			<table id="agentsListTable" class="table table-striped table-bordered" style="background-color: white; color: black;font-family:'Helvetica';">
				<thead>
					<tr>
						<th>ID</th>
						<th>Hostname</th>
						<th>IP</th>        
						<th>Mac Address</th>
						<th>Serial Number</th>
						<th>OS</th>
						<th>City</th>
						<th>State</th>
						<th>Unknown</th>
						<th>Group</th>
						<th>EDIT</th>
						<th>DELETE</th>
					</tr>
				</thead>
				<tbody>

					<% 

						if( session.agents != null ) {

							for( var i = 0; i < session.agents.length; i++ ) { 

					%>

						<tr>

							<td><a href="/cnep/agent/<%= session.agents[ i ].aid %>"><%= session.agents[ i ].aid %></td>        
							<td><%= session.agents[ i ].hostname %></td>
							<td><%= session.agents[ i ].address %></td>          
							<td><%= session.agents[ i ].mac_address %></td>
							<td><%= session.agents[ i ].serialnumber %></td>
							<td><%= session.agents[ i ].os %></td>                    
							<td><%= session.agents[ i ].city %></td>
							<td><%= session.agents[ i ].state %></td>

							<% if( session.agents[ i ].unknown == "1" ) { %>

							<td>Yes</td>

							<% } else { %>

							<td>No</td>

							<% } %>

							<% if( session.agents[ i ].class === null ) { %>

							<td>&nbsp;</td>

							<% } else { %>

							<td><%= session.agents[ i ].class %></td>

							<% } %>
							
							<td><a href="/cnep/agent/edit/<%= session.agents[ i ].aid %>">EDIT</a></td>                    
							<td><a href="/cnep/agent/delete/<%= session.agents[ i ].aid %>">DELETE</a></td>                    

						</tr>
					<%

							} 

						}

					%>

				</tbody>
			</table>

			<div style="float:left">
				<a id="add-new-agent-button" href="/cnep/add-new-agent/" class="btn btn-primary">Add New Agent</a>
			</div>

		</div>
		<br><br><br>
    
	</body>

</html>
