<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!--<link rel="shortcut icon" href="/cnep/imgs/timewarnercablelogo.ico">-->
    	<title>CNEP: Accenture Customer Network Experience Platform</title>
    	<link href="/cnep/css/bootstrap.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/nv.d3.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/bootstrap/examples/starter-template/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
  		<link href="/cnep/bootstrap-form-helpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet" type="text/css"/>
    	<script src="/cnep/jquery/dist/jquery.min.js" type="text/javascript"></script>
    	<script src="/cnep/jquery/dist/jquery.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.js" type="text/javascript"></script>
    	<script src="/cnep/d3/d3.js" type="text/javascript"></script>
    	<script src="/cnep/nvd3/nv.d3.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.js" type="text/javascript"></script>
    	<script src="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>    
    	<script src="/cnep/js/common/app.js" type="text/javascript"></script>
    	<script>

  			$(document).ready(

  				function() {

      			$('#schdules-btn').click(

      				function(){

        					$('#addform').show();
        					$('#schdules-btn').hide();

							return;
      				}

      			);

      			$('#metricsTable').dataTable();

					return;
  				}

			);

		</script>
    	    
    	<style>
      	html, body {height:100%;padding-top:25px;position:relative;overflw-y:scroll;margin: 0;}
      	div.dataTables_info {float: left !important;}
      	.inp {
        		width:150px; 
        		display:inline;
      	}

      	.inp3 {
        		width:90px; 
        		display:inline;
      	}

      	th {text-align: center;}

			.bfh-datepicker-calendar { color: black !important; }
			.bfh-datepicker-toggle > .form-control { color: white !important; }
			.bfh-timepicker-toggle > .form-control { color: white !important; }
			.bfh-datepicker-toggle > .input-group-addon { color: black !important; }
			.bfh-timepicker-toggle > .input-group-addon { color: black !important; }

    	</style>
  	</head>

  	<body>
    	<% include ../partials/nav.html %>
    	<% include ../partials/error.html %>
    	<div class="container">
      	<div class="starter-template">
          	<h1>Edit command ID# <%= session.command.mid %></h1>
      	</div>
    	</div>
   	<div style="text-align: center;" class="container" id="container1" ng-view-light>    

			<div class="row well" id="addform">
  				<div class="col-md-12">
  
    				<form class="form-inline" action="/commands/update/" method="POST">
      				<div id="command-tools" class="row">
        					<div class="col-md-3">
				          	<input id="command" name="command" placeholder="command text" value="<%= session.command.text %>" class="form-control"/>
				          	<input id="aid" name="aid" type="hidden" value="<%= session.aid %>" />
				          	<input id="cid" name="cid" type="hidden" value="<%= session.cid %>" />
				          	<input id="mid" name="mid" type="hidden" value="<%= session.command.mid %>" />
				        	</div>

			          	<div class="col-md-2" style="width:350px"> 
			            	<input id="new-job-repeat" name="quantity" placeholder="quantity" class="form-control inp3" value="<%= session.command.repeat %>" />
			            	<input id="interval" placeholder="frequency" name="frequency"  class="form-control inp3" value="<%= session.command.frequency %>"  />
			            	<input id="new-job-priority" placeholder="priority" name="priority" class="form-control inp3" value="<%= session.command.priority %>" />
			          	</div>

          				<div class="col-md-2">
			            	<div class="bfh-datepicker"  data-format="y-m-d" data-name="datestart" data-date="<%= session.command.start %>">
			              		<input id="start-datepickers" name="startdate" data-name="startdate" type="text" class="datepicker">
			            	</div>
			            	<div data-name="timestart" class="bfh-timepicker" name="startime" data-time="<%= session.command.startTime %>"> 
			              		<input id="start-timepickers" name="starttime" type="text" class="timepicker">
			            	</div>
			          	</div>

				        	<div class="col-md-2">
				         	<div class="bfh-datepicker"  id="end-datepickers2"  data-format="y-m-d" data-name="dateend" data-date="<%= session.command.end %>">
				              	<input  name="enddate" id="end-datepickers"  type="text" data-name="enddate" class="datepicker">
				            </div>
				            <div data-name="timeend" class="bfh-timepicker" name="endtime" data-time="<%= session.command.endTime %>">
				               <input id="end-timepickers" name="endtime" type="text" class="timepicker">
				            </div>        
				        	</div>

        					<div id="form-btn-inline" class="col-md-1">
        						<button type="submit" name="submit" class="btn btn-info btn-block" style="width:100px; display: inline">Update</button>
        					</div>
      				</div>
				      <div class="row">
				        	<div id="variables" style="text-align:center" class="col-md-12"></div>
				      </div>
				      <div class="row">
				        	<div id="buttons" class="col-md-12"></div>
				      </div>
				 	</form>
				</div>
			</div>
			<div class="row">
  				<div class="col-md-12"></div>
			</div>

    		<br><br><br>    

		</div>

	</body>

</html>
