<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<link rel="shortcut icon" href="/cnep/imgs/timewarnercablelogo.ico">-->
    	<title>CNEP: Accenture Customer Network Experience Platform</title>
    	<link href="/cnep/css/bootstrap.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/css/nv.d3.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/bootstrap/examples/starter-template/starter-template.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css">
    	<link href="/cnep/bootstrap-form-helpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet" type="text/css"/>
    	<script src="/cnep/jquery/dist/jquery.min.js" type="text/javascript"></script>
    	<script src="/cnep/jquery/dist/jquery.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.min.js" type="text/javascript"></script>
    	<script src="/cnep/bootstrap-form-helpers/dist/js/bootstrap-formhelpers.js" type="text/javascript"></script>
    	<script src="/cnep/d3/d3.js" type="text/javascript"></script>
    	<script src="/cnep/nvd3/nv.d3.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    	<script src="/cnep/datatables/media/js/jquery.dataTables.js" type="text/javascript"></script>
    	<script src="/cnep/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>    
    	<script src="/cnep/js/common/app.js" type="text/javascript"></script>

    	<style>

			html, body {height:100%;padding-top:25px;position:relative;overflw-y:scroll;margin: 0;}
      	div.dataTables_info {float: left !important;}

			.inp {
        		width:150px; 
        		display:inline;
      	}	

			.inp2 {
        		width:250px; 
        		display:inline;
      	}

			th {text-align: center;}

		</style>

  </head>

	<body>

		<% include ../partials/nav.html %>
		<% include ../partials/error.html %>
    	<div class="container">
      	<div class="starter-template">
         	<h1>User: <%= session.edit.login %></h1>
      	</div>
    	</div>
   	<div style="text-align: center;" class="container" id="container1" ng-view-light>    
     		<div>
				Update User<br><br>
         	<form method="POST" action="/update" accept-charset="UTF-8">
          		<input id="uid" type="hidden" name="uid" value="<%= session.edit.uid%>" class="form-control inp">
            	<input id="name" type="text" name="name" placeholder="Name" value="<%= session.edit.firstname%>" class="form-control inp">
            	<input id="surname" type="text" name="surname" placeholder="Surname" class="form-control inp" value="<%= session.edit.lastname%>">
        			<input id="email" type="text" name="email" placeholder="Email" value="<%= session.edit.email%>" class="form-control inp2">            
            	<select id="role" class="form-control inp" name="role" placeholder="Role">

              	<% if(session.edit.role == 'admin') { %>

              		<option value="2">Admin</option>              
              		<option value="1">User</option>

              	<% } else { %>

              		<option value="1">User</option>              
              		<option value="2">Admin</option>                            

              <% } %>

            	</select>

					<button type="submit" name="submit" class="btn btn-info btn-block" style="width:150px; display:inline">Update</button>

				</form>
			</div>
			<br><br>
			Change Password
        	<br><br>
        	<form method="POST" action="/password" accept-charset="UTF-8">        
        		<input id="uid" type="hidden" name="uid" value="<%= session.edit.uid%>" class="form-control inp">          
        		<input id="password" type="password" name="password" placeholder="New Password" class="form-control inp" autocomplete="off">
        		<button type="submit" name="submit" class="btn btn-info btn-block" style="width:150px; display:inline">Change</button>
        	</form>

        	<br><br>
    		<br><br><br>    
   	</div>

  </body>

</html>
